/* GRID */
.grid-wrapper {
  // setting a maximum size for the grid and centering it
  // so it does not end up weird on large screens
  display: grid;
  justify-items: center;
  max-width: $maxcontentwidth;
  margin: auto;
}

.grid {
  -webkit-column-gap: 5%; /* Chrome, Safari, Opera */
  -moz-column-gap: 5%; /* Firefox */
  column-gap: 5%;

  padding: 0 5%;
  width: 100%;
}

/* CARDS */
.card {
  contain: content;
  display: inline-block;
  /*
  using borders instead of box-shadows to reduce the performance costs
  */
  border-bottom: $cardborder;
  border-right: $cardborder;
  padding-bottom: $basespace;
  margin: $basespace 0;
  width: 100%;
  border-radius: 5px;
  // needed so the images behave correctly with rounded edges
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  &:hover {
    box-shadow: $cardshadowhover;
  }

  &-img {
    width: 100%;
    height: auto;
  }

  &-title, &-big-title, &-text, &-list {
    padding: 0 5%;
  }

  &-title, &-big-title {
    padding-top: $basespace;
  }

  &-big-title {
    font-size: $basespace;
  }

  &-text, &-list {
    padding-top: $minimalspace;
    font-family: $secondaryfont;
  }

  &-list-item {
    margin: 0 5%;
  }

  &-cta {
    text-align: center;
    padding-top: $basespace;
  }
} // .card

.card-with-icon {
  padding-top: $basespace; // same as padding-bottom inherited from .card
  text-align: center; // centering the icon as it's inline-block

  .card-title, .card-text  {
      text-align: left;
  }

} // .card-with-icon

/* SPECIFICS */
// Newsletter
#card-newsletter {
  // using a pop-up forbids the contain: content
  contain: initial;

  #newsletter-form {
    display: grid;
    justify-items: center;
  }

  #newsletter-email {
    width: 80%;
    max-width: 500px;
    margin-top: $basespace;
  }

  .hide-link {
    font-size: 0.9rem;
  }
}

// General popup
// see components/content/_sharing.scss for the more specific module
.card-popup-wrapper {
  display: none;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $menuheight;
  z-index: $bird;
  justify-items: center;
  align-items: end;

  &:before {
    // not absolute, so it does not get messed up when the screen's height
    // is too small
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $background;
    opacity: 0.7;
  }
}

.card-popup {
  display: grid;
  grid-template-columns: 1fr;
  // compensating the cross area with a bigger padding
  padding-bottom: $menuheight;
  // forcing the pop-up over the :before pseudo-element
  background-color: $background;
  z-index: $grass;
  width: 100%;
  margin: 0;

  .svg-cross {
    // forcing the icon to the right, as there's only 1 column
    grid-column: 2;
    margin: $halfspace;
    stroke: $white;
    cursor: pointer;
  }

  &-content {
    grid-column: 1/3;
    padding-top: 0;

    & *:first-child {
      padding-top: 0;
    }
  }

  &--success {
    .smiley {
      stroke: $success;
    }
  }

  &--failure {
    .svg-letter {
      stroke: $error;
    }
  }
}
