.front-header {
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; // so the big screen does not screw up the layout :)

  .front-title {
    display: initial;
    grid-row: 1/4;
    grid-column: 1/3;
    padding-left: 5%;
    font-size: 9vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $white;
    letter-spacing: $slightspace;
    justify-self: start;

    .highlight{
      -webkit-text-stroke: transparent;
      -webkit-text-fill-color: $maincolor;
    }

    .letter {
      display: inline-block;
      opacity: 0;
    }

    .front-title-art  {
      display: block;
      margin-top: -1.3rem;
    }
  }

  .appeared .letter {
    opacity: 1 !important;
  }

  .front-subtitle {
    grid-row: 3;
    grid-column: 1/3;
    padding-bottom: 12vh;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 10%;
  }

  #front-header-svg {
    grid-row: 1; // forcing it to have .tr-hide over it
    grid-column: 2;
    transition-property: filter;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  .tr-hide-wrapper {
    display: initial;
    grid-column: 2;
    grid-row: 1;
    z-index: $grass;
  }
} // .front-header
