@import '../../toolkit/variables';

.front-header {
    display: grid;
    margin-bottom: 8vh;
    height: $fullwithoutmenu;
    position: relative;

    .front-title, .front-subtitle {
      // making sure it goes over the background image
      // and the hidding div
      z-index: $tree;
    }

    .front-title {
      display: none;
    }

    .front-subtitle {
      text-align: right;
      align-self: end;
      padding: 4vh 5%;

      &-change {
        display: block;
      }

      .hide-link {
        background-color: initial;
      }
    }

    &-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-right: 10%;
      padding-bottom: 6vh;
    }

    #front-header-svg {
      width: 100%;
      height: 100%;
      grid-column: 2;

      .sclera, .pupil {
        stroke: none;
      }

      .sclera {
        fill: $white;
      }

      .pupil {
        fill: $background;
      }
    }

    #front-header-img {
      width: 100%;
    }

    .tr-hide-wrapper {
        display: none;
    }
}

@media screen and (min-width:800px){
  @import 'front-page-800';
}
