@import 'sharing';

.content-wrapper {
  font-family: $secondaryfont;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  align-items: center;
  justify-items: center;
  padding: 8vh 0;
}

.content {
  /*
  using borders instead of box-shadows to reduce the performance costs
  */
  border-bottom: $cardborder;
  border-right: $cardborder;

  // this is needed so the box-shadow of .full-screen blocks is hidden :)
  background-color: $background;
  font-size: $slightspace;
  line-height: 1.5;

  &-header {
    .wp-post-image {
      width: 100%;
      height: auto;
    }

    .header-title {
      margin-top: $basespace;
      margin-bottom: $minimalspace;
    }

    .header-author {
      margin-bottom: $minimalspace;
      padding-left: 22.5%;
      position: relative;

      &-link > *, &-link > *:visited {
        color: $white;
        text-decoration: none;
        font-family: $mainfont;
      }

      &:before {
        content: "";
        position: absolute;
        width: 15%;
        height: 3px;
        top: 0.7em;
        left: 5%;
        background-color: $white;
      }
    } // .header-author

    .cat-list {
      list-style-type: none;
      padding: 0;
      font-size: $minimalspace;
    }
  } // .content-header

  &-cta {
    display: grid;
    padding: $basespace 5% $basespace 5%;
    text-align: center;

    &-button {
      margin-bottom: $basespace;
    }
  }

  h1, h2, h3, h4, h5, p, blockquote, cite, ul, ol, hr, button, form {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: $basespace;
  }

  h1, h2, h3 {
    word-wrap: anywhere;
  }

  h1 {
    font-size: $mediumspace;
  }

  h2 {
    font-size: $basespace;
  }

  ul,ol {
    margin-left: 5%;
  }

  li {
    padding: 0.2rem 0;
  }

  ul {
    list-style-type: square;
  }

  ul li ul, ul ul {
    // resetting the margin on sub lists
    margin-bottom: 0;
  }

  blockquote {
    position: relative;
    // using margin so the &:after does not go to the bottom
    padding-bottom: 0;
    margin-bottom: $basespace;

    p {
        font-size: 1.5rem;

        &:last-child {
            padding-bottom: 0;
        }
    }

    cite {
      padding: 0;
      font-size: $slightspace;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: $medium;
      width: 1px;
      height: 100%;
      top: 0;
      left: 5%;
    }
  } // blockquote

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $dark;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
  }

  &-figure {
    // centering figures when smaller than content's width
    margin: auto;
  }
  .embed-wrapper {
    margin-bottom: $basespace;

    .embed {
      height: 100%;
      border: none;
    }

    .embed-iframe {
      position: initial;
    }
  }

  .nsfw {
    cursor: pointer;
    transition-timing-function: ease-in;
    overflow: hidden;

    &:before {
      content:"NSFW : cliquez pour afficher 👆";
      position: absolute;
      top: 46%;
      left:10%;
      font-weight: 600;
      z-index: $tree;
      width: 80%;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 0.3s;
    }

    .lazy-final {
      filter: blur(15px);
      -webkit-filter: blur(15px);
      transition-property: filter;
      transition-delay: 0.2s;
      transition-duration: 0.6s;
    }

    &-fadeout {
      cursor: auto;

      &:before {
        opacity: 0;
      }
      .lazy-final {
        filter:blur(0px);
      }
    }
  } // .nsfw

  .tnp-email {
    // newsletter specific
    margin-left: $minimalspace;
  }
} // .content

.content, .full-screen-figcaption {
  max-width: $readablemaxwidth;
  grid-column: 2;
  width: 100%;
}

.image-caption {
  font-size: 0.9rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: $minimalspace;
  padding-bottom: $mediumspace;
}

.full-screen {
  grid-column: 1/4;
  width: 100%;
  display: inherit;
  grid-template-columns: inherit;
  justify-items: inherit;

  .lazy-img {
    grid-column: 1/4;
    width: 100%;
  }

  .image-caption {
    // for continuity purposes
    border-right: $cardborder;
  }
}

.linked-posts {
  &-title {
    font-size: $basespace;
    padding: 0 5%;
  }

  .breadcrumbs {
    padding: $halfspace 5% $menuheight 5%;
    font-size: $slightspace;
    font-family: $secondaryfont;
  }
}
